# Auto detect text files and perform LF normalization
* text=auto

# C# sources
*.cs text diff=csharp
*.csproj text
*.sln text eol=crlf

# Config
*.config text
*.xml text

# Resources
*.resx text

# Binary
*.dll binary
*.exe binary
*.pdb binary
*.csf binary
*.map binary
*.mpr binary
*.yrm binary
*.xlsx binary
*.xls binary
